<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
<<<<<<< HEAD
     <meta name="viewport" content="width=<>, initial-scale=1.0">
     <title>Document</title>
</head>
<body>
     <h1><% = joke %></h1>
=======
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>
<body>
    

     <form action="/" method="post" class="main">
          <button type="submit" class="input" > call </button>
     </form>

    <% if(locals.setup ){ %> 
     <div>
          <p> <%= setup %> </p>
          <br>

          <% if(locals.delivery){ %>
               <p> <%= delivery %></p>
               <% console.log(got delivery) %>
          <% } %>

     </div>

     <% } %>
     
>>>>>>> 83189cb (create routes)
</body>
</html>